LoKy_Firmware/src/LoKy_Test_7_devices/LoKy_NodeRED_flow.json
[{"id":"cf5e626d.664de","type":"tab","label":"LoKy - Test - 7 devices","disabled":false,"info":""},{"id":"fb848100.0f2c7","type":"mqtt in","z":"cf5e626d.664de","name":"Node 1 - HCHP","topic":"v3/loky-test-1@ttn/devices/node-1/up","qos":"0","datatype":"json","broker":"a6647f6e.cb2c9","nl":false,"rap":true,"rh":0,"x":128,"y":72,"wires":[["576ac530.1b257c","698c0134.11232"]]},{"id":"576ac530.1b257c","type":"change","z":"cf5e626d.664de","name":"Parse JSON Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":412,"y":96,"wires":[["403309da.7a0418","b002274f.07bdd8"]]},{"id":"403309da.7a0418","type":"influxdb out","z":"cf5e626d.664de","influxdb":"b9f36ab8.93c0b8","name":"InfluxDB - Node 1","measurement":"node-1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":666,"y":120,"wires":[]},{"id":"b002274f.07bdd8","type":"debug","z":"cf5e626d.664de","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":656,"y":72,"wires":[]},{"id":"698c0134.11232","type":"debug","z":"cf5e626d.664de","name":"Debug Uplink","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":392,"y":48,"wires":[]},{"id":"a6647f6e.cb2c9","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b9f36ab8.93c0b8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"loky_test","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]